@import "~flatpickr/dist/flatpickr.css";
@import "~flatpickr/dist/themes/material_green.css";
@import "~@fullcalendar/core/main.min.css";
@import "~@fullcalendar/daygrid/main.min.css";


// MODIFY UI

nav{
    box-shadow: 1px 0 5px rgba(0,0,0,.1);
}

.bg-custom {
    background-color: #11B6A4;
}

.brand-link {
    background: #11B6A4;
}

.sidebar-profile{
    box-shadow: 0 -1px 5px -2px rgba(0,0,0,.1);
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    color: #FCFCFC;
    font-weight: 700;
    box-shadow: none;
    background-color: #454953;
}

.sidebar-dark-primary .sidebar a {
    color: #FCFCFC;
}

.sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link, .sidebar-dark-primary .nav-sidebar>.nav-item:hover>.nav-link {
    color: #FCFCFC;
    background-color: hsla(0,0%,100%,.1);
}

.nav-pills.nav-sidebar .nav-link:not(.active):not(.dropdown-toggle):hover {
    color: #11B6A4;
}
p:hover {
    color: #11B6A4;
}

.sidebar-dark-primary .nav-header {
    color: #CACFD2;
}

.card .card-header h3:after {
    content: "";
    background-color: #11B6A4;
    position: absolute;
    left: -25px;
    top: 0;
    width: 4px;
    height: 20px;
}

a {
    color: #505663;
}

a:hover {
    color: #11B6A4;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #11B6A4;
    border-color: #11B6A4;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #11B6A4 !important;
    color: #fff;
    font-size: 1.0625em;
}

.page-link:hover {
    z-index: 2;
    color: #11B6A4;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #11B6A4;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top-color: rgb(222, 226, 230);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(222, 226, 230);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(222, 226, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(222, 226, 230);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover {
    color: #fff;
    background-color: #11B6A4;
    border-color: #11B6A4;
    box-shadow: rgba(180, 139, 68, 0.068);
}
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    color: #fff;
    background-color: #11B6A4;
    border-color: #11B6A4;
    box-shadow: rgba(180, 139, 68, 0.068);
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: rgba(180, 139, 68, 0.068) !important;
}

ol li a, .dataTable a {
    color: #11B6A4 !important;
}

.profile-tab .nav-item .nav-link.active {
    border-radius: 0;
    border: 0;
    background-color: #11B6A4;
    color: #fff;
}

.profile-tab .nav-item .nav-link:hover {
    border: 0;
    background-color: #11B6A4;
    color: #fff;
}

.btn-outline{
    border-color: #11B6A4;
    color: #11B6A4;
    background-color: transparent;
    background-image: none;
}

// FINAL MODIFY UI