nav {
  background-color: transparent;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#letrasLogo {
  color: #FFFFFF;
}

/* Color llamativo #11B6A4 */

#home::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.274);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  border-bottom: #11B6A4 solid 2px;
}

#sessionday {
  background-color: #FFFFFF;
  padding: 6rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* display: grid; */
}

#sessionDayTwitter {
  background-color: #FFFFFF;
  padding: 6rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sessionDayInstagram {
  background-color: #FFFFFF;
  padding: 6rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span {
  color: #11B6A4;
}

#lastsessions {
  width: 100%;
  background-color: #F3F3F3;
  padding: 5rem 0rem;
}

h1 {
  z-index: 1000;
  margin: 0px;
  color: white;
  letter-spacing: 4px;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  font-size: 3rem;
}

h2 {
  padding-bottom: 40px;
  text-align: center;
  align-self: center;
  color: black;
  letter-spacing: 1px;
  font-weight: 700;
  z-index: 5;
  text-transform: uppercase;
  font-size: 1.9rem;
}

.sessionweek {
  color: #F3F3F3;
  font-weight: 600;
  font-size: 1.7rem;
  background-color: #11B6A4;
  height: 180px;
  border-right: #F3F3F3 solid 30px;
  border-left: #F3F3F3 solid 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p:hover {
  color: white !important;
}

.sessionweek:hover {
  padding: 0px;
  color: #F3F3F3;
  font-weight: 600;
  font-size: 1.7rem;
  background-color: #11B6A4;
  height: 180px;
  border-right: #F3F3F3 solid 30px;
  border-left: #F3F3F3 solid 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessionweek img {
  width: 100%;
  height: 185px;
  -o-object-fit: cover;
     object-fit: cover;
}

#about {
  background: url(/images/vinilo-camera.jpg?f9b19fa80e010cfbb6bd40de874ada09);
  width: 100%;
  height: 50vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact {
  background: url(/images/vinilo-black.jpg?9e53ac7edc92862a743f19fa5c2a858f);
  width: 100%;
  height: 50vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.days {
  display: none;
  float: left;
  height: 20% !important;
  min-height: 1px;
  background-color: transparent;
}

.days h3 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.main {
  font-family: Arial;
  width: 100%;
  display: block;
  margin: 0 auto;
}

h3 {
  background: #fff;
  color: #000000;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

#thisWeek::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.61);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  border-bottom: #11B6A4 solid 2px;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.582);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.like__btn {
  border: none;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 0.4rem;
  max-width: 200px;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
}

.like__btn:hover {
  background-color: rgba(231, 76, 60, 0.8);
}

.like__btn:focus {
  border-color: #e74c3c;
}

.like__btn:disabled {
  background-color: #d4cfcf;
  cursor: pointer;
}

.like__icon {
  font-size: 1rem;
  margin-right: 0.3rem;
}

.like__number {
  font-size: 0.8rem;
  color: white;
}

@media only screen and (max-width: 600px) {
  #home {
    background: url(/images/prueba.jpg?ca0d3cb0e7feb1d8d0f0288ea26c8755);
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    background-size: 250%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-x: -18rem;
    background-position-y: -1rem;
  }

  #thisWeek {
    background: url(/images/vinilo-black.jpg?9e53ac7edc92862a743f19fa5c2a858f);
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
    background-size: 150%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-x: -8rem;
    background-position-y: -6rem;
  }

  .carSessions {
    height: 530px;
  }

  .view1 {
    background-image: url(/images/tomorrowland2.jpg?3cd02d650d9b61aced9a8653d0dabfed);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -35rem;
  }

  .view2 {
    background-image: url(/images/cb3.jpg?9fb74b83389f67681f09f3d48d6f78dd);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -30rem;
  }

  .view3 {
    background-image: url(/images/badbunny2.jpg?77fe943a9f372cd596f9a6c070b29e47);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -27rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .carSessions {
    height: 530px;
  }

  .view1 {
    background-image: url(/images/tomorrowland2.jpg?3cd02d650d9b61aced9a8653d0dabfed);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -28rem;
  }

  .view2 {
    background-image: url(/images/cb3.jpg?9fb74b83389f67681f09f3d48d6f78dd);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -24rem;
  }

  .view3 {
    background-image: url(/images/badbunny2.jpg?77fe943a9f372cd596f9a6c070b29e47);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -20rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  #home {
    background: url(/images/prueba.jpg?ca0d3cb0e7feb1d8d0f0288ea26c8755);
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-x: -25rem;
    background-position-y: -8rem;
  }

  #thisWeek {
    background: url(/images/vinilo-black.jpg?9e53ac7edc92862a743f19fa5c2a858f);
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
    background-size: 120%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-x: -5rem;
    background-position-y: -9rem;
  }

  .carSessions {
    height: 465px;
  }

  .view1 {
    background-image: url(/images/tomorrowland2.jpg?3cd02d650d9b61aced9a8653d0dabfed);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -22rem;
  }

  .view2 {
    background-image: url(/images/cb3.jpg?9fb74b83389f67681f09f3d48d6f78dd);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -17rem;
  }

  .view3 {
    background-image: url(/images/badbunny2.jpg?77fe943a9f372cd596f9a6c070b29e47);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -15rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  #home {
    background: url(/images/prueba.jpg?ca0d3cb0e7feb1d8d0f0288ea26c8755);
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-x: -35rem;
    background-position-y: -9rem;
  }

  #thisWeek {
    background: url(/images/vinilo-black.jpg?9e53ac7edc92862a743f19fa5c2a858f);
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
    background-size: 150%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-x: -17rem;
    background-position-y: -30rem;
  }

  .carSessions {
    height: 330px;
  }

  .view1 {
    background-image: url(/images/tomorrowland2.jpg?3cd02d650d9b61aced9a8653d0dabfed);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -15rem;
  }

  .view2 {
    background-image: url(/images/cb3.jpg?9fb74b83389f67681f09f3d48d6f78dd);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -10rem;
  }

  .view3 {
    background-image: url(/images/badbunny2.jpg?77fe943a9f372cd596f9a6c070b29e47);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: -7rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  #home {
    background: url(/images/prueba.jpg?ca0d3cb0e7feb1d8d0f0288ea26c8755);
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-y: -9rem;
  }

  #thisWeek {
    background: url(/images/vinilo-black.jpg?9e53ac7edc92862a743f19fa5c2a858f);
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-y: -47rem;
  }

  .last-sessions-content {
    margin: 0px 130px;
  }

  .carSessions {
    height: 330px;
  }

  .view1 {
    background-image: url(/images/tomorrowland2.jpg?3cd02d650d9b61aced9a8653d0dabfed);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: -2rem;
    background-position-x: 0rem;
  }

  .view2 {
    background-image: url(/images/cb3.jpg?9fb74b83389f67681f09f3d48d6f78dd);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: 0rem;
    background-position-x: 0rem;
  }

  .view3 {
    background-image: url(/images/badbunny2.jpg?77fe943a9f372cd596f9a6c070b29e47);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: 0rem;
    background-position-x: 0rem;
  }
}

